{{#if this.redText}}
  {{set-body-class "red-text"}}
{{/if}}

{{#if this.blueBackground}}
  {{set-body-class "blue-background"}}
{{/if}}

{{set-body-class this.textSize}}

<label>{{input type="checkbox" checked=this.redText name="redText"}} Red Text</label>
<label>{{input type="checkbox" checked=this.blueBackground name="blueBackground"}} Blue Background</label>
<br />

Text Size:
<select onchange={{action (mut this.textSize) value="target.value"}} data-test-select>
  {{#each this.textSizes as |textSizeChoice|}}
    <option value={{textSizeChoice}} >{{textSizeChoice}}</option>
  {{/each}}
</select>

<br />

Any class name:
{{input value=this.dynamicClassName name="dynamicClassName"}}
{{set-body-class this.dynamicClassName}}
