{{#if redText}}
  {{set-body-class "red-text"}}
{{/if}}

{{#if blueBackground}}
  {{set-body-class "blue-background"}}
{{/if}}

{{set-body-class textSize}}

<label>{{input type="checkbox" checked=redText name="redText"}} Red Text</label>
<label>{{input type="checkbox" checked=blueBackground name="blueBackground"}} Blue Background</label>
<br />

Text Size:
<select onchange={{action (mut textSize) value="target.value"}} data-test-select>
  {{#each textSizes as |textSizeChoice|}}
    <option value={{textSizeChoice}} >{{textSizeChoice}}</option>
  {{/each}}
</select>

<br />

Any class name:
{{input value=dynamicClassName name="dynamicClassName"}}
{{set-body-class dynamicClassName}}
